gradio_litmodel3d
ninja
pybind11

diffusers
einops
opencv-python
numpy<2.0
omegaconf

tqdm
transformers==4.49.0
diso

# Mesh Processing
trimesh
pymeshlab
pygltflib
xatlas

# Training
accelerate

# Demo only
gradio
uvicorn
fastapi
mmgp==3.2.7
uvicorn
rembg
onnxruntime
