ninja
pybind11

diffusers
einops
opencv-python
numpy<2.0
transformers
omegaconf

tqdm

# Mesh Processing
trimesh
pymeshlab
pygltflib
xatlas

# Training
accelerate

# Demo only
gradio
fastapi
uvicorn
rembg
onnxruntime